* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: #509689;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.score-container {
    background-color: #F1ECC3;
    margin: 20vh auto;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: 50vh;
    height: 50vh;
    box-shadow: 0 4px 6px 6px;
}

table,
th,
td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 100%;
    border: 2px solid black;
}

tr {
    display: flex;
    justify-content: space-between;
}

th,
td {
    flex-grow: 1;
    padding: 1vw;
}

.pack {
    text-align: left;
}

.score {
    text-align: right;
}

button {
    margin: 1rem auto;
    margin-bottom: 0;
    padding-top: .1rem;
    width: 40%;
    height: 6vh;
    font-weight: 500;
    font-size: 20px;
    border-radius: 10px;
}

button:hover {
    background-color: #276d8d;
    color: rgb(237, 238, 238);
    transform: scale(1.1);
    cursor: pointer;
    transform: translateY(-.1rem);
    transition: .2s;
}