* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100%;
}

html {
    background-color: #509689;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    background: url(./img/sport-background3.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.main-container {
    background-color: #F1ECC3;
    margin: 20vh auto;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px;
    width: 32vw;
    min-width: 250px;
    max-width: 300px;
    height: 60vh;
    box-shadow: 0 4px 6px 6px;
}

.main-container h1 {
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 20%;
    font-size: 36px;
    font-weight: 700;
}

button {
    margin: .6rem auto;
    padding-top: .1rem;
    padding-bottom: .1rem;
    width: 70%;
    height: 8vh;
    font-weight: 500;
    font-size: 20px;
    border-radius: 10px;
}

button:hover {
    background-color: #276d8d;
    color: rgb(237, 238, 238);
    transform: scale(1.1);
    cursor: pointer;
    transform: translateY(-.1rem);
    transition: .2s;
}

#packs {
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
    justify-content: center;
    align-items: center;
}

#question-packs {
    width: 100%;
    margin-top: 4vh;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.sport-img {
    background-color: azure;
    width: 3.4rem;
    padding: .2rem;
    border-radius: 20%;
    box-shadow: 0 2px 2px 2px;
}

.sport-img:hover {
    cursor: pointer;
    transform: scale(1.16);
    transition: all .2s;
}

.hidden {
    display: none;
    visibility: hidden;
}